*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body{
    margin: 200px;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.container{
    max-width: 600px;
    padding: 40px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.check-list{
    margin-top: 10px;
    margin-bottom: 20px;
}

.sub-header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    transition: all 0.3s ease;
}

svg{
    height: 2rem;
    color: black;
}

.item-name {
    font-size: 1rem;
    padding-left: 10px;
}

.create-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}


/*Button Section*/
.button{
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.btn-open{
    background-color: #cac9c9;
    color: black;
}

.btn-open:hover{
    background-color: #ffffff;

}

.btn-add-list{
    background-color: #04AA6D;
}

.btn-add-list:hover{
    background-color: #0a8a5a;
}

.btn-edit-list{
    background-color: #ffc107;
}

.btn-edit-list:hover{
    background-color: #cc9a03;
}

.btn-delete-list{
    background-color: #dc3545;
}

.btn-delete-list:hover{
    background-color: #ac2835;
}


